@media (min-width: 950px){
	.panel-image{
		float: left;
		height: 325px;
		width: 50%;
	}
}

@media (max-width: 950px){
	#playing-go{
		height: 50%;
		width: 100%;
	}
	
	#location{
		height: 50%;
		width: 100%;
	}
	
	#inspirational{
		height: 50%;
		width: 100%;
	}
	
	.panel{
		height: 450px !important;
	}
	
	.panel-text{
		width: 100% !important;
	}
	
	.panel-main-text{
		margin: 0 auto;
		width: 85% !important;
	}
}

body{
	margin: 0;
}

div{
	font-family: "arial", sans;
}

h2{
	margin-top: 0;
	margin-bottom: 0;
}

.fade-in-left{
	right: 50px;
	opacity: 0;
}

#container{
	width: 100%;
	background-color: white;
	margin: 0;
	padding: 0;
}

#welcome-heading{
	color: black;
	font-family: "arial", sans;
	text-align: center;
	font-size: 4em;
	padding-top: 1.5em;
	margin: 0 auto;
	width: 	95%;
	letter-spacing: -2px;
}

#go-stones{
	margin-top: 10em;
	margin: 0 auto;
	height: 7em;
	width: 180px;
	padding: 2em;
	opacity: .8;
}

#tagline{
	font-family: 'Playfair Display', times; /* <-- + what??? */
	padding-top: 2em;
	margin: 0 auto;
	width: 40%;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
}

#scroll-text{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin: 0 auto;
	padding-top: 8em;
	position: relative;
}

#scroll-two{
	font-family: times;
	font-weight: lighter;
}

#panel-container{
	text-align: center;
	width: 90%;
	height: ;
	padding-top: -5em;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
}

#come-join-us{
	font-size: 2.5em;
	font-weight: bolder;
	opacity: 0;
	margin-top: 7em;
	padding-bottom: .75em;
}

.panel{
	background: #EEE;
	height: 325px;
	margin-bottom: 10px;
}

#panel-one{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 325px;
	background: #EEE;
}

.panel-header{
	text-align: center;
	font-weight: bolder;
	font-size: 1.25em;
	border-bottom: black solid 1px;
	width: 10em;
	height: 1em;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.panel-text{
	width: 50%;
	float: right;
	margin: 0 auto;
}

.panel-main-text{
	width: 50%;
	margin: 0 auto;
}

#blackstripe{
	height: 372px;
	width: 100%;
	background-color: #222;
}

#icon-plane{
	width: 115px;
	height: 80px;
	border-bottom: solid 1px;
	border-bottom-color: #AAA;
	margin-bottom: 30px !important;
	margin: 0 auto;
	text-align: center;
	padding-top: 75px;
}

#organizer-email{
	font-family: 'Abel';
	color: #ddd;
	font-size: 1.5em;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 15px;
}

a#email{
	text-align: center;
}

a#email:link{
	color: #999;
	text-decoration: none;
	font-weight: lighter;
}

a#email:hover{
	color: white;
}

a#email:visited,a#email:active{
	text-decoration: none;
	font-weight: 100;
}

#reach-out{
	font-family: 'Abel';
	color: #999;
	width: 145px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#icons{
	width: 135px;
	text-align: center;
	margin: 0 auto;
}

.socialIcon{
	width: 33px;
	height: 33px;
	margin: 4px;
}